---
interface Props {
  current: number;
  img: ImageMetadata;
}

const {current, img} = Astro.props as Props;

---

<div class="flex">
  <img src={img.src} alt="barra vertical" class="w-[150px] h-[150px] rounded-l-[30px]"/>
  <div class="bg-primary h-[150px] w-[75px] rounded-r-[30px] flex flex-col items-center justify-center text-2xl text-background font-bold">
    <p>{current}</p>
  </div>

</div>