---
interface Props {
  text: string;
  total: number;
  current: number;
  unit: string;
}

const {text, total, current, unit } = Astro.props as Props;

let barheight = (current/total)*100;
---


<div class="h-full flex flex-col items-center text-tertiary " >
  <div class="border border-tertiary w-[50px] h-full flex flex-col justify-end">
   <div class=`bg-primary  w-full` style={`height: ${barheight}%`}></div> 
  </div>
  {text}
  <p>
    {current} {unit}
  </p>
  
</div>