---
import logo from '../../assets/BakeryLogo.svg'
import Button from '../elements/Button.astro'



let restockDay = 6



let realBreadMaded = 100 + Math.floor(Math.random() * 5)
let realCookiesMaded = 150 + Math.floor(Math.random() * 2)
let realCupcakesMaded = 200 + Math.floor(Math.random() * 10)

let realBreadSold = 90 + Math.floor(Math.random() * 10)
let realCookiesSold = 145 + Math.floor(Math.random() * 5)
let realCupcakesSold = 195 + Math.floor(Math.random() * 5)

let DailyFlourUsed = 65 + Math.floor(Math.random() * 1)
let DailySugarUsed = 28 + Math.floor(Math.random() * 2)
let DailyButterUsed = 30 + Math.floor(Math.random() * 2)
let DailyEggsUsed = 100 + Math.floor(Math.random() * 5)
let DailyMilkUsed = 8 + Math.floor(Math.random() * 1)

let weeklyFlourRestock = 330
let weeklySugarRestock = 150
let weeklyButterRestock = 160
let weeklyEggsRestock = 525
let weeklyMilkRestock = 45




---

<nav class="h-full flex flex-col items-center p-10 w-1/4" >
  <a href="/" class="flex justify-center">
    <img src={logo.src} alt="Logo" class="mb-4" style={{ height: '200px' }} />
  </a>


  <div class="flex flex-col gap-4 w-full items-center h-full">
    <Button
    text='Inicio'
    path='/'
  />
  <Button
    text='Producción'
    path='/productos'
  />
  <Button
    text='Ventas'
    path='/ventas'
  />
  <Button
    text='Existencia'
    path='/recursos'
  />
  </div>
  
  <div class="flex flex-col gap-4 w-full items-center">
    <p class="text-tertiary font-medium">Dia: <span class="font-bold">1</span></p>
    <button class="rounded-[30px] border font-bold w-4/5 border-3 p-2 border-tertiary bg-tertiary text-background cursor-pointer  active:scale-95">
      Siguiente dia
    </button>
  </div>

</nav>